.App {
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.App-header {
  background-color: blue;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-main {
  background-color: aquamarine;
  width: 100vw;
  display: flex;
}

.link {
  cursor: pointer;
}
