.results-wrapper {
  width: 65vw;
  padding-left: 45px;
}

.result-card {
  display: flex;
  width: 80%;
  margin: 10px 50px;
  min-width: 390px;
  border-bottom: 1px solid #ececec;
}

.avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 90%;
}

.result-card-headline {
  widows: 100%;
  display: flex;
  justify-content: space-between;
}

.info-fullname {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0.2em 0;
}

.info-name {
  font-weight: bold;
  margin: 0.1em 0;
}
